.box {
  border-radius: 25px;
  border: 2px solid #0478f1;
  padding: 10px;
  width: 80%;
  margin-bottom: 30px;
  margin-top: 10px;
}

.label {
  color: #0478f1;
  padding: 10px 0px 10px 0px;
}

.input {
  color: #e91d25;
}

.suphero {
  margin-bottom: 10px;
}


form {
  display: flex;
  justify-content: center;
}

p {
  display: flex;
  justify-content: center;
  border-radius: 25px;
  border: 2px solid #0478f1;
  color: #0478f1;
}

