.sidebyside {
    display: flex;
    flex-direction: row;
    padding-bottom: 2%;
    justify-content: space-evenly;
}

.herobg {
    margin-left: 0%;
}

mat-spinner {
    margin: 0 auto;
}

.heros-container {
    text-align: center;
}

#question {
    font: small-caps bold 24px/1 sans-serif;
}

#score {
    margin-top: 20px;
    color: #e91d25;
    font-weight: bold;
    font-size: 300%;
    font-family: sans-serif;
}

#regle {
    border-radius: 25px;
    border: 2px solid #0478f1;
    padding: 10px;
    margin-top: 10px;
}

#regle_texte {
    color: #0478f1;
    font: small-caps bold 24px/1 sans-serif;
    padding: 10px 0px 10px 0px;
}
