<div class="heros-container">
    <div id="regle" *ngIf="firstLaunch">
        <p id="regle_texte">À chaque tour un question t'es posée, il te faut juste choisir le super héros qui correspond le mieux !</p>
    </div>


    <p id="score" *ngIf="score <= 1">{{score}} point </p>
    <p id="score" *ngIf="score > 1">{{score}} points </p>
    <br>
    <mat-spinner diameter="150" color="accent" mode="indeterminate" [hidden]="hideMe"></mat-spinner>

    <p id="question" [hidden]="!hideMe">{{question}} ?</p>

    <div [ngClass]="['sidebyside']" [hidden]="!hideMe">
        <app-superhero [ngClass]="['herobg']" [myHero]="myHero1" (HeroRequest)="getHeroChoice(0)" [showButton]="true"></app-superhero>

        <app-superhero [ngClass]="['herobg']" [myHero]="myHero2" (HeroRequest)="getHeroChoice(1)" [showButton]="true"></app-superhero>
    </div>
</div>